
<!DOCTYPE html>

<html>
    {% load static %}
<head>
<meta charset="UTF-8">
<title>Доска объявлений </title>
<link rel= "stylesheet" type="text/css" href="{% static 'bboard/style.css'  %}">

    </head>
    <body>
         <h1 class="temps">0бъявления</h1>
    <div>
        <a href="/bboard/">Главная</a>
        <a href="{% url 'add' %}">Добавить</a>
        {% for rubric in rubrics %}
            <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
        {% endfor %}
    </div>
        {% for bb in bbs %}
    <div>
        <h2>{{ bb.title }}</h2>
        <p>{{ bb.content }}</p>
        <p><a href="{% url 'by_rubric' bb.rubric.pk %}">
            {{ bb.rubric.name }}</a></p>
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
            </div>
        {% endfor %}
</body>
</html>