<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div>
            <h1>Info about articles</h1>
        </div>

        <div>
            <h2> our articles</h2>
            {% if not news %}
                {% for el in news %}

                    <div class="alert alert-warning">
                        <h3>{{el.title}}</h3>
                        <p>{{el.anons}}</p>
                    </div>

                {% endfor %}
            {% else %}
                <p>no sentences</p>
            {% endif %}

        </div>
</body>
</html>