<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        This is about

        <!-- for        -->
        {%for elem in values %}
            <p>{{elem}}</p>
        {% endfor %}

        <!-- map -->
        {% for key, value in obj.items %}
           <p> {{key}} : {{value}} </p>
        {% endfor %}

        {% if age == 32 %}
            <p>age is {{age}}</p>
        {% endif %}

        End part
</body>
</html>