<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/add_picture.css' %}">

</head>
<body>

        <div class="add_content">
            <form action="{% url 'adds' %}" method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                {{form.as_p}}

                <button type="submit">Создать</button>
             </form>
        </div>

</body>
</html>