<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
        <!-- Меню навигации -->
        <div class="sidenav">

            <h2 class="now_site">Сейчас на сайте</h2>

            {% for per in person %}
                <a class='usersite' href="#"><img src="{{per.image_p.url}}"></a>
            {% endfor %}


             <!-- Меню приветствия -->

            {% if request.user.is_authenticated %}
                <h4>Пользователь : {{user.username}}</h4>
            {% else %}
                <h3>Вы не авторизованы</h3>
            {% endif %}

            <!--        Кнопка выхода    -->
            {% if request.user.is_authenticated %}

            <a  href="{% url 'logout' %}"><button class='logs'>Выйти</button></a>

            {% else %}
            <a class='logs' href="{% url 'login' %}"><button class='logs'>Регистрация</button></a>
            <a class='logs' href="{% url 'open_or_reg' %}"><button class='logs'>Авторизация</button></a>
            {% endif %}



        </div>

        <!-- Меню контента-->
        <div class="main">

              <div class="container">
                <div class="item"><a href="{% url 'gals' %}">Галерея</a></div>
                <div class="item"><a href="{% url 'slaider' %}">Лучшее</a></div>
                <div class="item"><a href="{% url 'adds' %}">Новое</a></div>
                 <div class="item"><a href="{% url 'measures' %}">Мера</a></div>
              </div>

            {% if request.user.is_authenticated %}
            <h1 class="inf_empty_gal">{{empty_gal}}</h1>
            <!-- Меню картинок           -->
             <div class="animations">

                 {% for pic in picture %}

                    <div class="box">
                        {%  if pic.picture_name|length != 0 %}
                        <img src="{{pic.picture_name.url}}">
                         {% else %}
                        <img src="{% static '/main/img/default.jpg' %}">
                    {% endif %}
                    </div>

                 {% endfor %}
             </div>
          {% block menu_content %}{% endblock %}
        </div>
        {% else %}
            <div class="help_auth">
                <h1>Авторизируйтесь и смотрите свои лучшие фото</h1>
            </div>
        {% endif %}

</body>
</html>