<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Галерея</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>

        {% if request.user.is_authenticated %}
        <div class="hi_gal">
            <h1>{{user.username}} -> ваша галеря:</h1>
        </div>

        <div class="animations">
                 {% for pic in obj %}

                    <div class="box">
                        {%  if pic.picture_name|length != 0 %}
                        <img src="{{pic.picture_name.url}}">
                         {% else %}
                        <img src="{% static '/main/img/default.jpg' %}">
                    {% endif %}
                    </div>

                 {% endfor %}
        </div>
        {% else %}
            <div class="no_mid">
                <h1>Вы не авторизированы, авторизируйтесь и сохраняйте фото в свою галерею</h1>
            </div>
        {% endif %}

</body>
</html>