<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Помощь</title>
    <link rel="stylesheet" href="{% static 'main/css/help_form.css' %}">
</head>
<body>
    <div class="help_forms">
        <ol>
            <li>Каждый пользователь имеет свой набор картинок</li>
            <li>Есть тестовый общий пул картинок</li>
            <li>Если вы не зарегестрируетесь вы не сможете добавить ничего</li>
            <li>Чтобы сменить пользователя выйдите из аккаунта, кнопка (левый нижний угол) главного меню</li>
            <li>Галерея хранит все фото пользователя</li>
            <li>Главное меню хранит последние шесть</li>
            <li>На пустом профиле слайдер будет работать медленно, надо загрузить несколько фото</li>
        </ol>
    </div>
</body>
</html>