<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
</head>
<body>
    <div class="log_forms">
        <form method="post">
            {% csrf_token %}

            <div class="form-error">{{ form.non_field_errors }}</div>

            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}


            <button type="submit">Войти</button>
        </form>
        <br>
        <a href="{% url 'main' %}"><button>Войти без регистрации</button></a>
    </div>

</body>
</html>