<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Измерения</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/measures.css' %}">

</head>
<body>
        <h1>Здесь можно измерить расстояние на фото</h1>
        <h2>Нажмите на одну чтоку потом на другую и узнаете расстояние в px</h2>
        <h2>Проекция точек отображается снизу </h2>
        <p>
        <strong>Координаты курсора:</strong> <span id="coord-live"></span><br>
        <strong>Координаты клика:</strong> <span id="coord-click"></span>
        </p>
        <div id="shoppingBasket">
        </div>

           <img src="{{obj.picture_name.url}}">
        {% for pic in obj %}

            <div class="box">
                {%  if pic.picture_name|length != 0 %}
                <img  class= 'picture_size' id='photo' src="{{pic.picture_name.url}}">
                 {% else %}
                <img id='photos' class= 'picture_size' src="{% static '/main/img/default.jpg' %}">
            {% endif %}
            </div>
        {% endfor %}

        <canvas id="canvas" width="1000" height="1000">


        </canvas>

        <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>

<script language="JavaScript">

var img = document.getElementById("photo");
<!--context.drawImage(img, 10, 10);-->
var ctx = document.getElementById("canvas").getContext("2d");
ctx.drawImage(img, 700, 700);

var pos_first = 0;
var pos_second = 0;
var old_coord = true;

function getPosition(e){
	var x = y = 0;

	if (!e) {
		var e = window.event;
	}

	if (e.pageX || e.pageY){
		x = e.pageX;
		y = e.pageY;
	} else if (e.clientX || e.clientY){
		x = e.clientX + document.body.scrollLeft + document.documentElement.scrollLeft;
		y = e.clientY + document.body.scrollTop + document.documentElement.scrollTop;
	}

	return {x: x, y: y}
}


/* Координаты курсора */
$('body').mousemove(function(e){
	var coord = getPosition(e);
	$('#coord-live').html(coord.x + "," + coord.y);
});

/* Координаты клика */
$('body').click(function(e){
	var coord = getPosition(e);
	$('#coord-click').html(coord.x + "," + coord.y);

    if (old_coord){
        pos_first = coord;
        old_coord = false;

        var ctx = document.getElementById("canvas").getContext("2d");

          ctx.fillStyle = "#ff2626"; // Red color

          ctx.beginPath();
          ctx.arc(coord.x, coord.y, 3, 0, Math.PI * 2, true);
          ctx.fill();
    }
    else{

     var ctx = document.getElementById("canvas").getContext("2d");

     ctx.fillStyle = "#ff2626"; // Red color

     ctx.beginPath();
     ctx.arc(coord.x, coord.y, 3, 0, Math.PI * 2, true);
     ctx.fill();


     pos_second = coord;
     var dist = Math.pow(Math.pow(pos_second.x - pos_first.x, 2) + Math.pow(pos_second.y - pos_first.y, 2), 0.5);
     // alert('Расстояние между точками = ' + dist + ' px');
     $('#shoppingBasket').text("Расстояние между точками: " + Math.pow(Math.pow(pos_second.x - pos_first.x, 2) + Math.pow(pos_second.y - pos_first.y, 2), 0.5));
     canvas.render();
     old_coord = true;
    }


});

</script>

</body>
</html>