<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/ope_reg.css' %}">
</head>
<body>

        <div class="open_or_reg">
            <a href="{% url 'login' %}" class="floating-button">Войти</a>
            <a href="{% url 'reg_user' %}" class="floating-button">Регистрация</a>
            <a href="https://github.com/yand1960/mephi6" class="floating-button">Github</a>
            <a href="{% url 'helps' %}" class="floating-button">Помощь</a>

        </div>

</body>
</html>