<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    {% load static %}
     <link rel="stylesheet" href="{% static 'main/css/reg.css' %}">
</head>
<body>
    <div class="reg_forms">
        <form method="post">
            {% csrf_token %}

            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}

            <button type="submit">Регистрация</button>
        </form>
    </div>
</body>
</html>