<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Слайдер</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/slaider.css' %}">
</head>
<body>
        <div class="moment_sl">
            <h1>Слайдер лучших моментов</h1>
             {% if not request.user.is_authenticated %}
                <h1>Вы не зарегегестрированы, но есть пробная версия </h1>
            {% endif %}
            <h2>{{mess}}</h2>
        </div>

        <div class="container_slider_css">
            {% for picture in pic %}
            <img class="photo_slider_css" src="{{picture.picture_name.url}}" alt="">
            {% endfor %}
        </div>
</body>
</html>