<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="home">
            <h1>Page home</h1>

            {% for post in news %}

                <h1>{{post.title}}</h1>
                <p>{{post.text}}</p>
                <p>Публикация: {{post.date|date:'j F Y, время H:i:s' }}</p>
                {% if post.author %}
                <p>Автор статьи: {{post.author}}</p>
                {% else %}
                <p>Автор не найден</p>
                {% endif %}}

            {% endfor %}

            {% if messages %}
                {% for mess in messages%}
                    <div>
                        {{mess}}
                    </div>

                {% endfor %}
            {% endif %}
        </div>
</body>
</html>