<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">Профиль</a>
        <a href="{% url 'exit' %}">Выйти</a>
    {% else %}
        <a href="{% url 'auth' %}">Войти</a>
        <h1><a href="{% url 'reg' %}">Регистрация</a></h1>
    {% endif %}
</body>
</html>