<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="form-section">

            <h2>вы вышли с аккаунта</h2>
            <a href="{% url 'auth' %}">Войти в аккаунт снова</a>
        </div>
</body>
</html>