<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body>


        <div class="form-section">
            <h2>Имя пользователя</h2>
            <h2>{{user.username}}</h2>
            <h2>{{user.email}}</h2>
        </div>

        <div>
            <img src="{{ user.profile.img.url }}">
            <br>
            {{user.profile.img.url}}
        </div>
</body>
</html>