<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="form-section">

            <h2>Регистрация на сайте</h2>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="button1">
                    Зарегестрироватья
                </button>
            </form>

             <div>Уже зарегестрированы: <a href="{% url 'auth' %}">Войти в личный кабинет</a></div>
        </div>
</body>
</html>