<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="hello">
          <h1>Start program</h1>
        </div>

        It is {{name_user}}
</body>
</html>