/* Боковое меню */
.sidenav {
  height: 100%; /* Полная высота: удалите это, если хотите "auto" высоту */
  width: 160px; /* Установите ширину боковой панели */
  position: fixed; /* Исправлена боковая панель (оставайтесь на месте при прокрутке) */
  z-index: 1; /* Оставайтесь вверху */
  top: 0; /* Оставайтесь внизу */
  left: 0;
  background-color: #111; /* Черный */
  overflow-x: hidden; /* Отключить горизонтальную прокрутку */
  padding-top: 20px;
}

/* Ссылки меню навигации */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* Когда вы наводите курсор мыши на навигационные ссылки, меняется их цвет */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Стилизация страницы content */
.main {
  margin-left: 160px; /* То же, что ширина боковой панели */
  padding: 0px 10px;
}

/* На меньших экранах, где высота меньше 450 пикселей, изменяется стиль боковой панели (меньше отступов и меньший размер шрифта) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}