.flexp {
    height: 150px;
    display: flex;
    /* главная ось */
    justify-content: space-around;
    /* дополнительная ось */
    align-items: flex-start;
    /* изменить ось */
    flex-direction: row;
}

.pic {
    height:30vh;
    width:10vw;
}

.temp {
    width:400px;
    height:400px;
}