body {
    background-color: #32bce9;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.reg_forms {
    position: fixed; /* or absolute */
    top: 30%;
    left: 40%;
    /*border: 3px solid black;*/
}
