/* The sidebar menu */
body {
    background-color: #32bce9;
}

.now_site{
    font-size:22px;
   /* text-transform: capitalize;*/
    text-align: center;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #27509e; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.container {
    height: 150px;
    display: flex;
    /* главная ось */
    justify-content: space-around;
    /* дополнительная ось */
    align-items: flex-start;
    /* изменить ось */
    flex-direction: row;
}
.item {
    width: 200px;
    height: 100px;
    font-size: 60px;
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
    border: 3px green dotted;
    background-color: #3baa36;
    box-shadow: 10px 10px 30px 10px #3baa36;
    cursor: pointer;

}

.animations {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding: 50px 50px 150px 200px;
    max-width: auto;
    min-height: 500px;
    margin: auto;
    overflow: hidden;
}

.box {
    flex: 0 0 30%;
    margin-bottom: 20px;
}

.box img {
    display: block;
    max-width: 300px;
    height:300px;
    border: 3px solid #dadada;
    box-shadow: 2px 2px 8px rgba(0,0,0,.4);
}

.box img:hover {

    transition: 1s;
    transform: scale(1.3);

}

.box img:active {
        transform: rotate(10deg);
}

.usersite:hover {
    transform: scale(1.3);
}

.item:hover {
    background-color: #32bce9;
}

.logs {
    color: red;
    height: 50px;
    width: 130px;
}

.no_mid {
    position: fixed; /* or absolute */
    top: 30%;
    left: 25%;
}

.inf_empty_gal {
    position: fixed; /* or absolute */
    top: 40%;
    left: 40%;
}

.help_auth {
   position: fixed; /* or absolute */
    top: 40%;
    left: 36%;
}