{% extends 'main/layout.html' %}

{% block title %}
<h1>About</h1>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>О нас</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Aliquam assumenda cumque dolorum eius ex explicabo hic nihil non
            nostrum quas. Dolor perspiciatis possimus voluptas! Architecto
            asperiores maxime nobis nulla optio?</p>

            <button>нажми</button>
    </div>
{% endblock %}