{% extends 'main/layout.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{title}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Aliquam assumenda cumque dolorum eius ex explicabo hic nihil non
            nostrum quas. Dolor perspiciatis possimus voluptas! Architecto
            asperiores maxime nobis nulla optio?</p>

            <button>submit</button>

            {% for el in obj%}
                {% if el == 'car'  %}
                <p> {{el}} </p>
                {% endif %}
            {% endfor%}
    </div>


{% endblock %}

