<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>

    <aside>
        <img src="{% static 'main/img/jet.jpg' %}" alt="cat">
        <span class="logo">itProger</span>
        <h3>Навигация</h3>
            <ul>
                <a href="{% url 'home' %}"><li>Главная</li></a>
                <a href="{% url 'about' %}"><li>Про нас</li></a>
                <a href=""><li>Контакты</li></a>
                <a href="{% url 'news_home' %}"><li>Новости</li></a>
                <a href="{% url 'create' %}"><button>Добавить</button></a>
            </ul>
    </aside>

    <main>
        {% block content %} {% endblock %}
    </main>


</body>
</html>