body {
    background: blue;
}

aside {
    float : left;
    width: 20%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid;
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    position: relative;
    top: -5px;
}


aside h3 {
    margin-top: 50px;
    font-size: 25px;
}

aside ul li:hover, aside ul a:hover{
    color: red;
    text-decoration: none;
    transform: scale(1.2)
}

main .features {
    float: left
    width: 65%;
    color: #fff;
}

.alert-warning {
    float: left;
    width: 400px;

}