{% extends 'main/layout.html' %}

{% block title %}
<h1>Новости</h1>
{% endblock %}

{% block content %}
  <div class="create">
    <h1>Форма добаввления</h1>
    <form method="post">
        {% csrf_token %}

        {{form.title}}<br>
        {{form.anons}}<br>
        {{form.full_text}}<br>
        {{form.date}}<br>
        <span>{{error}}</span>
        <button type="submit">Добавить статью</button>

    </form>
  </div>

{% endblock %}