{% extends 'main/layout.html' %}

{% block title %}
<h1>{{article.title}}</h1>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{article.title}}</h1>
        <p>{{article.date}}</p>
        <p>{{article.full_text}}</p>

        <a href="{% url 'news-delete' article.id %}"><button>Удалить</button></a>
        <a href="{% url 'news-update' article.id %}"><button>Редактировать</button></a>

    </div>
{% endblock %}