{% extends 'main/layout.html' %}

{% block title %}
<h1>Удаление статьи</h1>
{% endblock %}

{% block content %}
  <div class="create">
    <h1>Удаление статьи</h1>
    <form method="post">
        {% csrf_token %}

        <span>{{error}}</span>
        <button type="submit">Удалить статью</button>

    </form>
  </div>

{% endblock %}