{% extends 'main/layout.html' %}

{% block title %}
<h1>Новости</h1>
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости</h1>
        {% if news %}
            {% for el in news %}
        <div class="temp">
            <h3>{{el.title}}</h3>
            <h3>{{el.anons}}</h3>
            <a href="{% url 'news-detail' el.id %}"><button>Ссылка</button></a>
        </div>
            {% endfor %}
        {% else %}
            <p>Записей нет</p>
        {% endif %}

            <button>новости</button>
    </div>
{% endblock %}