<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div class="re">
            Форма регистрации
        </div>

        <div class="block1">

            <form method="post">
                {% csrf_token %}
                {{form.as_p}}

            <input type="submit" value="Добавить">
            </form>
        </div>
</body>
</html>