<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1> Start page </h1>
        <a href="{% url 'add' %}"><button>Перейти на регестрцию</button></a> <
</body>
</html>